#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/4ae0bced-d79c-47f0-9196-64bb3d16d14a # 
title: response

 {
      "accountId":"50392848",
      "accountType":"INVENSTMENT_ACCOUNT",
      "displayName":"Investment Account Details",
      "Description":"InvestmentAccount",
      "Status":"OPEN",
      "Nickname":"ABC",
      "currency":{  
          "currencyRate":null,
          "currencyCode":"EUR",
          "originalCurrencyCode":null
      },
      "accountNumber":"51365570",
      "interestRate":345.89,
      "allowedCheckWriting":true,
      "allowedOptionTrade":false,
      "currentValue":"789045",
      "availableCashBalance":56789.9,
      "margin":true,
      "marginBalance":null,
      "shortBalance":567.9,
      "brokerId":"BRID4567",
      "planId":"sdf34",
      "rolloverAmount":456.9,
      "employerName":"Capgemini",
      "balanceList":[  
          {  
            "balanceName":"Investment account Balance",
            "balanceDescription":"Investment Account balance",
            "balanceType":"AMOUNT",
            "balanceValue":2389.9,
            "balanceDate":null,
            "currency":{  
                "currencyRate":null,
                "currencyCode":"EUR",
                "originalCurrencyCode":null
            }
          },
          {  
            "balanceName":"Investment account Balance",
            "balanceDescription":"Investment Account balance",
            "balanceType":"PERCENTAGE",
            "balanceValue":239.9,
            "balanceDate":null,
            "currency":{  
                "currencyRate":null,
                "currencyCode":"EUR",
                "originalCurrencyCode":null
            }
          }
      ],           
   }