#%RAML 1.0
title: AccountList
version: v1
protocols: [HTTPS]
baseUri: https://mocksvc.mulesoft.com/mocks/72016533-b8d3-487b-883f-f74b69b877cd/{version}/accountList
mediaType: application/json
securitySchemes:
   oauth_2_0:
    description: This API supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    describedBy:
      headers:
        Authorization:
          description: Used to send a valid OAuth 2 access token. Do not use with the "access_token" query
          type: string
        queryParameters:
        access_token:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with the "Authorization"
              header
            type: string
        responses:
        401:
          description: |
              Bad or expired token. This can happen if the user or the API revoked or expired an
              access token. To fix, you should re-authenticate the user.
        403:
          description: |
              Bad OAuth request (wrong consumer key, bad nonce,  expired timestamp...). Unfortunately, re-authenticating the user won't help here. 
types:
  AccountDescriptorList:
    properties: 
      AccountDescriptor:
        type: array
        displayName: AccountDescriptor
        items: AccountDescriptor
        required: true
  AccountDescriptor:
    properties: 
      AccountId: 
        type: string
        maxLength: 128
        pattern: ^[0-9a-zA-Z]*$
        required: true
      Error?: Error
      AccountType: AccountType
      DisplayName:
        type: string
        required: true
      Status: 
        type: AccountStatus
        required: true
      Description?: string
      FiAttributes?:
        type: array
        items: FiAttribute
  Error:
    properties:     
      code:
        type: string
        required: true
      Message: string
  AccountStatus:
    description: This object having all the account statuses
    type: string
    enum: 
    - CLOSED
    - DELINQUENT
    - NEGATIVECURRENTBALANCE
    - OPEN
    - PAID
    - PENDINGCLOSE
    - PENDINGOPEN
  FiAttribute:
    properties: 
      Name:
        type: string
        required: true
      Value:
        type: string
        required: true
  AccountType:
    description: This object is having all the accounts types
    type: string
    enum: 
    - 401A
    - 401K
    - 403B
    - AUTOLOAN
    - CD
    - CHARGE
    - CHECKING
    - COMMERCIALLINEOFCREDIT
    - COMMERCIALLOAN
    - COVERDELL
    - CREDITCARD
    - ESCROW
    - SAVINGS
    - SMBLOAN
    - STUDENTLOAN
    - TAXABLE
    - TDA
    - TRUST
    - UGMA
    - UTMA
    - ESOP
    - GUARDIAN
    - HOMEEQUITYLOAN
    - HOMELINEOFCREDIT
    - INSITUTIONALTRUST
    - INSTALLMENT
    - IRA
    - KEOGH
    - LINEOFCREDIT
    - LOAN
    - MILATARYLOAN
    - MONEYMARKET
    - MORTGAGE
    - PERSONALLOAN
    - ROLLOVER
    - ROTH
    - SARSEP 
/accountlist:
  get:
    responses: 
      200:
        body:
          application/json: 
            type: AccountDescriptorList
            example: 
              {
                AccountDescriptor:
                [
                  {
                    "AccountId": "123",
                    "AccountType": "SAVINGS",
                    "DisplayName": "Savings Account",
                    "Status": "OPEN"                   
                  },
                  {
                    "AccountId": "124",
                    "AccountType": "CREDITCARD",
                    "DisplayName": "CREDIT CARD Account",
                    "Status": "CLOSED"                   
                  },
                ]
              }
      404:
        body:
          application/json:
            type: Error
            example:
              {
                "code": "1106",
                "Message": "Not Found"
              } 
      500:
        body: 
          application/json:
            type: Error
            example:
              {
                "code": "1107",
                "Message": "Not Found"
              }
        