#%RAML 1.0
title: update-delvery-address
version: v1
baseUri: https://mocksvc.mulesoft.com/mocks/610ab040-c41d-406d-99be-a0ba868b0ea8/api/{version} # baseUri: https://mocksvc.mulesoft.com/mocks/0ebb61ea-3f4a-41e2-8296-678c335e1a3b/api/{version} # baseUri: https://mocksvc.mulesoft.com/mocks/0ebb61ea-3f4a-41e2-8296-678c335e1a3b/api/{version} 
mediaType: application/json

securitySchemes:
  basicAuth:
    description: Each request must contain the headers necessary for
                 basic authentication
    type: Basic Authentication
    describedBy:
      headers:
        Authorization:
          description: Used to send the Base64-encoded "username:password"
                       credentials
          type: string
      responses:
        401:
          description: |
            Unauthorized. Either the provided username and password
            combination is invalid, or the user is not allowed to access
            the content provided by the requested URL.

types:
  #Customer:
  #  properties:
  #    id: integer                          
  Error:
    properties: 
      code: integer
      message: string

/customer:
/update-address:
  put:
    description: Change the Delivery address of the customer. 
    body:      
    #queryParameters:
      application/json:      
        properties:      
          id: 
            description: "The customer Id of which address need to be modified"    
            required: true
            type: integer
            minimum: 2
            format: int8
            multipleOf: 1            

          addressType:            
            description: "Taking one of the address type to marking it as delivey address"
            type: string
            enum: ["Home","Business","Mailing"]
            required: true        

    responses:
      200:      
        body:        
          application/json:  
            type: object          
            example: |              
              {"code":200,"message":"Delivery Address Has been changed"}
      204: 
        body: 
          application/json:
            type: Error          
            example: |
              {"code":204,"message":"No content  found"}
      404:
        body: 
          application/json:
            type: Error
            example: |
              {"code":404,"message":"Page Not Found"}